%main-padding {
  padding: 4rem 10% 0;
}

#about {
  height: 100vh;
  h2 {
    margin-bottom: 4rem;
  }
  
  .basic {
    @extend %main-padding;

    &__container {
      display: flex;
      justify-content: center;
      align-items: center;
      justify-content: space-around;

      &--visual {
        text-align: center;

        img {
          margin-bottom: 1rem;
        }

        p {
          margin-top: 2.5rem;
        }
      }

      &--timeline th, td {
        padding: 0.95rem;
      }

      &--timeline .plan {
        display: block;
        font-size: small;
      }
    }
  }

  .personality {
    @extend %main-padding;

    &__container-member {
      margin: 0;
      padding: 1rem 2rem;
      text-align: center;
 
      i, h3{
        padding-bottom: 1rem;
      }

      i:hover {
        color: $tertiary-color;
      }
    }
  }

  .employment {
    @extend %main-padding;
  }

  .skills {
    @extend %main-padding;

    .progress {
      margin: 1.5rem 0;

      &-bar:hover {
        background: $tertiary-color !important;
      }
    }
  }

  .hobbies {
    @extend %main-padding;

    .icon-size {
      font-size: 500%;
    }

    .carousel {
      &-item {
        height: 50vh;
        padding: 0 20%;
      }

      &-item1 .item-container, &-item3 .sub-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
       
      &-item1 .item-container {
        margin-top: 4rem;
      }
      &-item3 .item-container {
        h4 {
          margin-bottom: 2rem;
        }
        
        p {
          margin-top: 2rem;
        }
      }
    }
  }

  .about-contact {
    @extend %main-padding;

    &__info {
      padding: 0 18% 4rem;

      p {
        font-size: small;
      }

      a {
        text-decoration: none;
        color: set-text-color($primary-color);
      }

      a:hover {
        color: $tertiary-color;
      }
    }
  }
  
  footer {
    position: fixed;
    width: initial;
    right: 0.4rem;
    text-align: right;
    transform: rotate(90deg) translate(-3rem, -5rem);
  }  
}
