#projects {
  padding: 0 10%;

  h2 {
    margin: 2rem 0;
  }


  .projects__intro {
    text-align: center;
    padding: 2rem;
    background: linear-gradient(
      to right,
      rgba($primary-color, 0.9),
      rgba($primary-color, 0.3)
      ),
      url("../img/project-6.jpg") center;
    background-size: cover;
    }

  .projects__container {
    padding: 1rem;
    
    .col {
      margin: 0;
      padding: 0;

      .card {
        color: set-text-color($fourth-color);
  
        .card-body a:hover {
          color: $tertiary-color;
        }
      }
    }

    .col:nth-child(even) {
      padding-left: 0.4rem;
    }
    
    .col:nth-child(odd) {
      padding-right: 0.4rem;
    }
  }

  footer {
    position: fixed;
    width: initial;
    right: 0.4rem;
    text-align: right;
    transform: rotate(90deg) translate(-3rem, -5rem);
  }  
}
