@include media-sm {
  * {
    font-size: small;
  }

  #home {
    .home__portfolio {
      flex-direction: column;
      padding-top: 15vh;
    }
  }

  #about {
    .basic__container {
      flex-direction: column;

      &--visual {
        margin-bottom: 2rem;
      }

      &--timeline .dash {
        display: none;
      }
    }

    .hobbies {
      .icon-size {
        font-size: 200%;
      }

      .carousel-item {
          height: 30vh;
      }

      .carousel-item1 .item-container {
        flex-wrap: wrap;
        margin-top: 2rem;
      }

      h4 {
        font-size: small;
      }
    }
  }

  #projects {
    text-align: center;
    
    .projects__intro h4 {
      margin-top: 1rem;
    }
    
    .projects__container {
      padding: 1rem;
      
      .col:nth-child(odd) {
          padding-right: 0;
      }

      .col:nth-child(even) {
          padding-left: 0;
      }
    }

    a {
      margin-bottom: 0.4rem !important;
    }
  }

  #contact {
    padding-top: 12%;

    .contact__form {
      padding: 2rem 10%;
      
      .contact__form-item {
        padding: 0 5%;
      }
    }
  }
  
}

@include media-md {
  #home {
    .home__portfolio {
      flex-direction: column;
    }
  }

  #about {
    .basic__container {
      flex-direction: column;

      &--visual {
        margin-bottom: 2rem;
      }
    }

    .hobbies {
      .carousel-item {
        height: 40vh;
      }

      .icon-size {
        font-size: 300%;
        margin: 0.4rem;
      }

      h4 {
        font-size: small;
      }
    }
  }

  #projects {
    .projects__container {
      padding: 1rem;
    }
  }

  #contact {
    .contact__form {
      padding: 2rem 10%;
      
      .contact__form-item {
        padding: 0 10%;
      }
    }
  }
}

@include media-lg {
  #contact {
    .contact__form {
      padding: 2rem 10%;
    }
  }
}
